<div id="app">
  {{ message }}
  <input v-model="message">

  <h3>Reviews:</h3>
  <ul>
    <li v-for="review in reviews" v-if="isPositive(review.text)">{{ review.rating }} STARS - {{ review.reviewer }}: {{ review.text }}</li>
  </ul>

  <h3>Add a Review:</h3>
  Text: <input v-model='newReviewText'>
  Rating: <input v-model='newReviewRating'>
  Reviewer: <input v-model='newReviewReviewer'>
  <button v-on:click="addReview()">Add Review</button>
</div>
